/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
//
// COLORS
//
*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



    /////////////////////////////////
    // APP
    /////////////////////////////////


    $colorTodoBackground:               #041C32;
    $colorTodoBackgroundHover:          #020f1b;

    $colorTodoCta:                      #bc1d1d;
    $colorTodoCtaHover:                 #971d1d;

    $colorTodoCard:                     #064663;

    $colorTodoHeader:                   #ECB365;

    $colorTodoBtnHover:                 #f7f6f2;
