/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
//
// NEW TODO
//
*/ //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


    ///////////////////////////////////
    // FORM
    ///////////////////////////////////

    .form-container {

        @include box-shadow;

        background-color:   $colorTodoCard;
        padding:            50px 20px;
        border-radius:      0 0 10px 10px;
        min-width:          475px;

        form > div {

            @include border-radius;
            @include box-shadow;

            margin-bottom:      20px;
            padding:            20px;
            background-color:   $colorTodoHeader;
            font-size:          1.2rem;
            
        }
    }


    ///////////////////////////////////
    // ADD TODO
    ///////////////////////////////////

    .add-todo-field {

        display:            flex;
        justify-content:    center;
        padding:            18px;

        input {

            @include border-black;

            font-size:      1.1rem;
            border-radius:  10px 0 0 10px;
            padding:        8px;
            width:          100%;
        }

        button      { margin-left: -1px; }
        input:focus { outline: none; }
    }

    .date-input {
        @include border-black;
        @include border-radius;
        padding:        8px;
    }

    .date-input:focus {outline: none;}

    .date-container {
        display: block;
    }

    .add-button { 

        background-color:       #fff;
        border-radius:          0 10px 10px 0;

    }

    .add-button:hover { background-color: $colorTodoBtnHover; }


    ///////////////////////////////////
    // ACTIVE TODOS
    ///////////////////////////////////

    .no-todos {

        font:           normal 20px/20px $fontFamily;
        margin-top:     10px;
    }

    .active-todo {

        max-height:     500px;
        overflow:       auto;
    }

    .active-todo-content {

        @include border-radius;
        @include transition;
        @include border-black;

        display:            flex;
        padding-left:       10px;
        margin:             15px 0;
        background-color:   #fff;
        color:              #000;
        font:               normal 18px/18px $fontFamily;
        cursor:             pointer;
        word-wrap:          break-word;

        p {

            display:            flex;
            justify-content:    space-between;
            align-items:        center;
            width:              100%;
        }

        .todo-date {

            @include border-black;

            border-radius: 5px;
            background-color: $colorTodoHeader;
            padding: 2px 6px;
            font: bold 12px/12px $fontFamily;
        }

        .remove {
            
            margin-right:   0;
            padding:        10px 20px;
            border-radius:  0 10px 10px 0;
            border:         none;
        }

        .todo-done {

            color:              $colorTodoDone;
            text-decoration:    line-through;
        }

        .todo-done-date { background-color: $colorTodoDone; }
    }

    ///////////////////////////////////
    // DELETE ALL
    ///////////////////////////////////

    .delete-button {

        background-color:       $colorTodoCta;
        color:                  #fff;
    }

    .delete-button:hover { background-color: $colorTodoCtaHover; }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// MOBILE
//
*/ //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


    @media only screen and (max-width: 414px) {

        .form-container { min-width: 350px; }
        .add-todo-field {

            display:    block;
            input       { border-radius:  10px 10px 10px 10px; }
        }

        .add-button {

            border-radius:  10px; 
            margin-top:     10px;
        }

        .active-todo {

            max-height:     200px;
            overflow:       auto;
        }
    }
